<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.starapp"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 申明网络权限  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyActivity"></activity>
        <activity android:name=".activity.My_Feedback" />
        <activity android:name=".activity.Mynews" />
        <activity android:name=".activity.Setting" />
        <activity android:name=".activity.Setting_Declare" />
        <activity android:name=".activity.MyLogin" />
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.FindPassword" />
        <activity android:name=".activity.MyShare" />
    </application>

</manifest>
